
<div *ngIf="recibo">
    <h2><span jhiTranslate="systemAguaPotableApp.recibo.detail.title">Recibo</span> {{recibo.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.numero">Numero</span></dt>
        <dd>
            <span>{{recibo.numero}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.estado">Estado</span></dt>
        <dd>
            <span jhiTranslate="{{'systemAguaPotableApp.Estado.' + recibo.estado}}">{{recibo.estado}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.pagoanterior">Pagoanterior</span></dt>
        <dd>
            <span>{{recibo.pagoanterior}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.pagoactual">Pagoactual</span></dt>
        <dd>
            <span>{{recibo.pagoactual}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.total">Total</span></dt>
        <dd>
            <span>{{recibo.total}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.fechagenera">Fechagenera</span></dt>
        <dd>
            <span>{{recibo.fechagenera | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.fechapaga">Fechapaga</span></dt>
        <dd>
            <span>{{recibo.fechapaga | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.anio">Anio</span></dt>
        <dd>
            <span>{{recibo.anio}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.mes">Mes</span></dt>
        <dd>
            <span>{{recibo.mes}}</span>
        </dd>
        <dt><span jhiTranslate="systemAguaPotableApp.recibo.usuario">Usuario</span></dt>
        <dd>
            <div *ngIf="recibo.usuarioId">
                <a [routerLink]="['/usuario', recibo.usuarioId]">{{recibo.usuarioId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recibo/'+ recibo.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
